.Polarbear_footer_logo {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}
.Polarbear_footer_button {
    text-align: center;
    font-size: .9rem;
}
.Polarbear_header_logo {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}
.Polarbear_header_button {
    text-align: center;
}