<div style="margin: 2rem 0;">
    <div class="Polarbear_header_logo">
        <h1>Polarbear</h1>
    </div>
    <div class="Polarbear_header_button">
        <a href="{% url 'articleapp:list' %}">
            <span>Articles</span>
        </a>
        <span>nav2</span>
        <span>nav3</span>
        {% if not user.is_authenticated %}
        <a href="{% url 'accountapp:login' %}?next={{ request.path }}">
            <span>login</span>
        </a>
        <a href="{% url 'accountapp:create' %}">
            <span>SignUp</span>
        </a>

        {% else %}
            <a href="{% url 'accountapp:detail' pk=user.pk %}">
            <span>Mypage</span>
        </a>
        <a href="{% url 'accountapp:logout' %}?next={{ request.path }}">
            <span>logout</span>
        </a>
        {% endif %}
    </div>

</div>